*.log*
.nuxt
.nitro
.cache
.output
.netlify
.nuxt-storybook
storybook-static
!.github\workflows
.firebase

dist
node_modules
.env
.env.*

fonts/fg
fonts/fg/*.*
media/cdn
storybook-static
node_modules
dist
sw.*

.vercel

/.yarn/
.pnp.cjs
.pnp.loader.mjs
