@font-face {
	font-family: "font-mw";
	src: url("~/fonts/icons/mw/font-svg.woff2") format("woff2"),
		url("~/fonts/icons/mw/font-svg.svg") format("svg");
}

$icons: (
	cash: "\0045",
	sp: "\0046",
	card: "\0042",
	basket: "\0023",
	key: "\00b5",
	copy: "\00ec",
	info: "\00fb",
	king: "\2039",
	fire: "\2211"
);

.font-mw {
	align-items: center;
	direction: ltr;
	display: inline-flex;
	fill: currentColor;
	font-family: "font-mw";
	font-feature-settings: "liga";
	font-style: normal;
	font-weight: normal;
	height: 1em;
	justify-content: center;
	letter-spacing: normal;
	line-height: 1;
	position: relative;
	text-rendering: optimizeLegibility;
	text-transform: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 1em;
	word-wrap: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@each $name, $glyph in $icons {
	.mw-#{$name}:before {
		content: "#{$glyph}";
	}
}
