@font-face {
    font-family: "Oranienbaum";
    src: local("Oranienbaum"), local("Oranienbaum-Regular"), url("~/assets/fonts/ru/oranienbaum/Oranienbaum-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
