@font-face {
	font-family: 'font-svg';
	src:
		url('font-svg.ttf') format("truetype"),
		url('font-svg.svg') format("svg"),
		url("font-svg.eot?2495f832d0231c8719381a2c7c0dd2ed?#iefix") format("embedded-opentype"),
url("font-svg.woff2?2495f832d0231c8719381a2c7c0dd2ed") format("woff2"),
url("font-svg.woff?2495f832d0231c8719381a2c7c0dd2ed") format("woff");
}

.font-ft-ameba, 
.font-ft
 {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;

	width: 1em;
	height: 1em;
	position: relative;
	fill: currentColor;

	font-family: 'font-svg';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

.ft-ameba:before,
.font-ft-ameba:before { 
	content: "\f101";
}

