@font-face {
    font-family: "Wind CTT";
    src: local("Wind CTT"), url("Robotoslablight.woff2") format("woff2"),
        url("wind_ctt.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
