@font-face {
    font-family: 'Vetka';
    src: url('Vetka.eot');
    src: local('Vetka'),
        url('Vetka.eot?#iefix') format('embedded-opentype'),
        url('Vetka.woff2') format('woff2'),
        url('Vetka.woff') format('woff'),
        url('Vetka.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

